.modal_window {
  width: 400px;
  height: 240px;
  z-index: 20;
  background-color: #ffffff;
  position: fixed;
  top: 290px;
  left: 896px;
  border-radius: 12px;
  border: none;
}
.modal_window > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  padding: 14.5px 0;
  cursor: pointer;
}
.modal_window > p:not(:last-child) {
  border-bottom: 1px solid#dbdbdb;
}
.modal_window > p:hover {
  color: #ed4956;
  font-weight: 700;
  font-size: 14px;
}
