.wrapper {
  display: flex;
  background-color: #ffffff;
  height: 722px;
  position: relative;
  max-width: calc(1196px + 245px);
  margin: 0 auto;
}
.right_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.user_wrapper {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  gap: 12px;
  border-bottom: 1px solid #dbdbdb;
}
.user_wrapper > h4 {
  margin-right: 280px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #262626;
}
.photo_wrapper > img {
  width: 577px;
  height: 722px;
}
.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/wrapper_profile.svg");
  background-size: cover;
  background-position: center;
  min-width: 35px;
  height: 35px;
}

.img_wrapper > img {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 50%;
}
.description {
  display: flex;
  gap: 5px;
}
.description_post {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 26px 0px 14px;
}
.description > span {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #737373;
}
.description > h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #262626;
}
.description > p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #262626;
}
.date {
  margin: 0 14px 16px 64px;
}
.date > span {
  margin-right: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #737373;
}
.users_wrapper {
  flex-grow: 1;
  padding: 16px;
}
.add_comments {
  margin-top: auto;
}
.modal_open {
  cursor: pointer;
}
/*Modal*/
.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background: rgb(0, 0, 0, 0.65);
}
/* Адаптивность для планшетов */
@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column; /* Вертикальная ориентация */
    max-width: 100%; /* Полная ширина */
  }

  .photo_wrapper > img {
    width: 100%;
    max-height: 400px; /* Ограничение высоты изображения */
  }

  .right_wrapper {
    padding: 10px;
  }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: auto;
    max-width: 100%;
  }

  .photo_wrapper > img {
    width: 100%;
    max-height: 300px; /* Уменьшаем высоту на мобильных */
  }

  .right_wrapper {
    padding: 10px;
  }

  .user_wrapper > h4 {
    font-size: 10px;
  }

  .description > h4,
  .description > p {
    font-size: 10px;
  }

  .date > span {
    font-size: 8px;
  }

  .users_wrapper {
    padding: 10px;
  }
}
