.wrapper {
  width: 913px;
  height: 564px;
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
}
.upper_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #dbdbdb;
}
.upper_block > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 9px 0;
  margin-right: 340px;
}
.upper_block > p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #0095f6;
  margin-right: 16px;
}
.load_img_wrapper {
  width: 573px;
  padding: 183px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-bottom-left-radius: 12px;
}
.load_img_wrapper > img {
  cursor: pointer;
}
.container_img_text {
  display: flex;
}
.rigth_container {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.userinfo_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.rigth_upp {
  border-bottom: 1px solid #dbdbdb;
  height: 268px;
  padding: 15px;
}
.userinfo_wrapper > h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #262626;
}
.userinfo_wrapper > img {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 50%;
}
.text > textarea {
  width: 100%;
  height: 150px;
  border: none;
  font-family: "Roboto";
  padding: 10px;
}
.input_text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #c7c7c7;
}
.rigth_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.rigth_bottom > button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.rigth_bottom > button:hover {
  background-color: #dbdbdb;
}

.dialog {
  padding: 20px;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin: 250px auto;
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0.65);
}
.dialog input {
  margin: 10px 0;
}
.dialog_buttons {
  margin-top: 10px;
}
.dialog_buttons button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.dialog_buttons button:first-child {
  background: #4caf50;
  color: white;
}

.dialog_buttons button:last-child {
  background: #f44336;
  color: white;
}

/* Адаптивные стили */
@media (max-width: 1024px) {
  .wrapper {
    width: 500px;
    height: auto;
  }
  .load_img_wrapper {
    width: 400px;
    padding: 40px 0;
  }
  .rigth_bottom {
    padding: 40px 0 20px;
  }
  .upper_block > h2 {
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 350px;
    height: auto;
  }
  .rigth_bottom {
    padding: 15px;
  }
  .load_img_wrapper > img {
    max-width: 180px;
  }
}
