.wrapper {
  min-width: 244px;
  border-right: 1px solid #dbdbdb;
}
.logo_container {
  margin: 28px 0 33px 25px;
}
.nav {
  margin-left: 24px;
}
.nav_icon_container {
  display: flex;
  align-items: center;
}
.nav_icon_container:not(:last-child) {
  margin-bottom: 32px;
}
.nav_icon_container:last-child {
  margin-top: 60px;
}
.nav_icon_container > img {
  margin-right: 16px;
}
.last_img {
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}
.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #000000;
}
.active {
  font-weight: 700;
}
.icon {
  filter: grayscale(100%) brightness(0%);
}

.icon_active {
  filter: grayscale(0%) brightness(100%);
}
