.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  background-color: #ffffff;
}
.nav {
  display: flex;
  margin: 24px 0 48px;
}
.nav > p {
  margin-right: 42px;
}
.nav > p:hover {
  color: #ff0014;
}
.gram {
  margin-bottom: 58px;
}
@media (max-width: 480px) {
  .nav > p {
    margin-right: 10px;
  }
}
