.wrapper {
  position: relative;
}
.user_wrapper {
  padding: 30px 130px;
  display: flex;
}
.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/wrapper_profile.svg");
  background-size: cover;
  background-position: center;
  min-width: 168px;
  height: 168px;
  margin: 23px 85px 78px 58px;
}
.img_wrapper > img {
  border-radius: 50%;
}
.user_description {
  display: flex;
  flex-direction: column;
  padding: 8px 195px 0 0;
}
.username {
  display: flex;
  align-items: center;
  gap: 23px;
}
.username > h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.username > button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  width: 168px;
  height: 32px;
  cursor: pointer;
}
.username > button:hover {
  background-color: #dfd9d9;
}
.posts_count {
  display: flex;
  gap: 90px;
  margin: 28px 0 20px;
}
.posts_count > p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.posts_count > p > span {
  font-weight: 400;
  margin-left: 5px;
}
.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.posts {
  padding: 0 95px 212px 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.posts > img {
  width: 307px;
  height: 307px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ease;
}
.posts > img:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transform: translate(0%, -1%);
}
.website {
  margin-top: 19px;
}
.website > a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #00376b;
}
.webIcon {
  color: #00376b;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.dialog {
  position: absolute;
  top: 57px;
  left: 100px;
  width: 1000px;
  z-index: 10;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.other_profile_btn_container {
}
.btn_follow {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 7px 20px;
  background-color: #0095f6;
  border: none;
  border-radius: 8px;
  margin-right: 8px;
  width: 132px;
  cursor: pointer;
}
.btn_message {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  padding: 7px 20px;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  width: 190px;
  cursor: pointer;
}
.btn_follow:hover {
  background-color: #66bcf5;
}
.btn_message:hover {
  background-color: #dbdbdb;
}

.btn_follow.following {
  background-color: #efefef;
  color: black;
  border: 1px solid #dbdbdb;
}
.btn_follow.following:hover {
  background-color: #dbdbdb;
}

/*Адптивные стили*/
@media (max-width: 1280px) {
  .posts {
    padding: 0 50px 70px;
  }
  .posts_count {
    display: flex;
    gap: 15px;
    margin: 15px 0;
  }
  .posts_count > p {
    min-width: 85px;
  }
  .other_profile_btn_container > button {
    width: auto;
  }
  .dialog {
    left: 16px;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .user_wrapper {
    padding: 20px 20px;
  }
  .posts_count > p {
    min-width: 85px;
  }
  .posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 10px;
  }
  .posts > img {
    margin: 0 auto;
  }
  .user_description {
    padding: 20px;
  }
}

@media (max-width: 864px) {
  .img_wrapper {
    margin: 20px;
  }
  .user_wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 768px) {
  .user_wrapper {
    padding: 10px;
  }
  .user_description {
    padding: 15px;
  }
  .img_wrapper {
    margin: 20px;
  }
}
@media (max-width: 630px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    padding: 10px;
  }
  .img_wrapper {
    margin: 20px 0;
  }
}
@media (max-width: 480px) {
  .user_description {
    padding: 15px 5px;
  }
  .username {
    gap: 5px;
  }
  .username > h4 {
    font-size: 18px;
  }
  .username > button {
    width: 112px;
  }
  .posts_count {
    gap: 5px;
  }
  .posts_count > p {
    min-width: auto;
    font-size: 12px;
    min-width: fit-content;
  }
  .bio {
    font-size: 12px;
  }
  .website {
    margin-top: 5px;
  }
  .website > a {
    font-size: 12px;
  }
  .other_profile_btn_container > button {
    padding: 5px;
    font-size: 12px;
  }
}
