.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.sidebar {
  width: 244px;
}
.content {
  flex: 1;
  /* overflow-y: auto; */
  border-left: 1px solid #dbdbdb;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar {
    width: auto;
    justify-content: space-between;
  }
  .footer {
    max-width: 404px;
  }
}
